// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
   position: relative;
   display: block;
   padding-left: $form-check-input-gutter;
}

.form-check-input {
   position: absolute;
   margin-top: $form-check-input-margin-y;
   margin-left: -$form-check-input-gutter;

   &:disabled ~ .form-check-label {
      color: $text-muted;
   }
}

.form-check-label {
   margin-bottom: 0; // Override default `<label>` bottom margin
   max-width: 100%;
}

.form-check-inline {
   display: inline-flex;
   align-items: center;
   padding-left: 0; // Override base .form-check
   margin-right: $form-check-inline-margin-x;

   // Undo .form-check-input defaults and add some `margin-right`.
   .form-check-input {
      position: static;
      margin-top: 0;
      margin-right: $form-check-inline-input-margin-x;
      margin-left: 0;
   }
}